@charset "utf-8";
/*
============================
GLOBAL SETTINGS
============================
*/
html, body	{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	background-color:#e9e5e5;
 	background-image:url(img/bgr_body_page.jpg);
	background-repeat:repeat-x;
}

#container {
	width:960px;
	height:auto;
	margin:0px auto;
}

.clearer {
	clear: both;
}

img	{
	border:0px;
}

.imgleft	{
	margin-right:10px;
	float:left;
}

.imgright	{
	margin-left:10px;
	float:right;
}

h1 {
	font-size:22px;
}

h2 {
	font-size:18px;
	color:#333;
	margin-bottom:5px;
}

h3 {
	font-size:16px;
	margin:0px;
}

a	{
	color:#761006;
	text-decoration:none;
}

a:hover	{
	color:#cc3300;
	text-decoration:none;
}

/*--- styling page ---*/

.highlight1	{
	padding:1px 4px;
	background-color:yellow;
	color:#111;
}
	
.highlight2	{
	padding:1px 4px;
	background-color:#111;
	color:#eee;
}

blockquote	{
	background-image:url(img/quote_open.png);
	background-position:left 15px;
	background-repeat:no-repeat;
	background-color:#eee;
	padding:20px 10px 20px 60px;
	font-style:italic;
}

.quote	{
	width:auto;
	height:auto;
	float:left;
}

.quote blockquote	{
	background-image:url(img/quote_open.png);
	background-position:left 15px;
	background-repeat:no-repeat;
	background-color:#eee;
	border-left:5px solid #ddd;
	padding:20px 10px 20px 60px;
	font-style:italic;
}

/*
============================
HEADER  
============================
*/
#HeaderWrapper {
	width:960px;
	height:104px;
	float:left;
	margin-top:12px;
}
#HeaderWrapper .left {
	width:237px;
	height:104px;
	float:left;
}

#HeaderWrapper .right {
	width:723px;
	height:104px;
	float:right;
}

.logo	{
	width: 237px;
	height: 80px;
	margin-top: 12px;
	float: left;
}
	
.TopMenuWrapper	{
	width:585px;
	height:auto;
	float:right;
	margin-top:15px;
}

.searchwrapper	{
	width:183px;
	height:25px;
	margin:24px 17px 2px 0px;
	padding:0px;
	background-image:url(img/searchbox.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
}

.searchwrapper form {
	display:inline;
}

.searchbox {
	border:0px;
	background-color:transparent;
	position:absolute;
	top:2px;
	left:4px;
	width:140px;
	height:20px;
	color:#999;
	font-size:11px;
}

.searchbox_submit {
	border:0px; 
	background-color:transparent; 
	position:absolute; 
	left:148px;
	width:35px;
	height:23px;
}


/*
============================
PAGE TITLE
============================
*/
#PageTitleWrapper	{
	width:915px;
	height:32px;	
	float:left;
	margin-top:14px;
	margin-bottom:36px;
	padding:15px 20px 30px 25px;
	background-color:#761006;
	background-image:url(img/bgr_title.jpg);
	background-position:center;
	background-repeat:no-repeat;
	color:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px; 
}

/*
============================
CONTENT BOX
============================
*/


#ContBoxWrapper	{
	width:910px;
	height:auto;
	float:left;
	padding:25px 25px 50px 25px;
	border:1px solid #d3cfcf;
	background:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px; 
}
.shadow_box	{
	width:798px;
	height:90px;
	float:left;
	margin:0 60px;
	background:url(img/shadow_widebox.png)no-repeat;
	top:-58px;	
	position:relative;
	z-index:-4;
}

/* -- Left Area -- */

.LeftSection	{
	width:600px;
	height:auto;
	float:left;
}

/* -- Right Area -- */

.FullWidth	{
	width:100%;
	height:auto;
	float:left;
}

.RightSection	{
	width:290px;
	height:auto;
	float:left;
	margin-left: 20px;
}

.subsection	{
	width:223px;
	height:auto;
	float:left;
	padding-left:67px;
	background:url(img/separator_vertline.png)no-repeat;
	background-position:left;
	margin-bottom:35px;
}

.subsection .testi_text {
	width: auto;
	height: 200px;
	font-family: "Myriad pro";
	color: #333;
	font-size:16px;
	font-style:italic;
	line-height: +1.5;
}

/*
============================
PAGE: ABOUT
============================
*/

.team_area	{
	width:260px;
	height:100px;
	display:block;
	float:left;
	margin-left:15px;
}

/*
============================
PAGE: SERVICE
============================
*/

/* -- Newsletter Form -- */

.subsection input	{
	border:1px solid #999;
	color:#999;
	padding:4px;
	margin-bottom:6px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:10px; 
}

.subsection .button	{
	background: #000;
	color: white;
	border: none;
	padding: 6px;
	margin-top: 7px;
}

/*
============================
PAGE: PORTFOLIO
============================
*/

#portfolio {
	width: 910px;
	height: auto;
	float: left;
}

#portfolio .img {
	width: 280px;
	height: 189px;
	background-image: url(prettyPhoto/images/thumbnails/zoomsign.jpg);
	background-repeat: no-repeat;
	float: left;
}

#portfolio ul {
	list-style-type: none;
	margin: 0px 0px 0px -4px;
	padding: 0px;
	float: left;
}
#portfolio li {
	width: 268px;
	min-height: 340px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	padding: 16px;
	zoom: 1;
	*display: inline;
	_height: 340px; /* --- IE6 hack --- */
}

#portfolio .worknumber	{
	width: 50px;
	height: 38px;
	margin-bottom: 10px;
	font-size: 46px;
	color: #999999;
	line-height: 38px;
	float: left;
}

#portfolio .worktitle	{
	width: auto;
	height: 38px;
	margin-bottom: 10px;
	padding-left: 7px;
	padding-top:5px;
	float: left;
}
/* -- pagination -- */
.pagenavi {
	clear:both
}

.pagenavi a, .pagenavi a:visited {
	color: #000;
	text-decoration: none;
	line-height: 10px;
	border: 1px solid #cecece;
	padding: 5px;
	margin-right: 5px;
	float: left;
}

.pagenavi a:hover {
	color: white;
	background-color: #761006;
}

.pagenavi .current	{
	color: white;
	background-color: #761006;
}

/*
============================
PAGE: BLOG
============================
*/

.post_block	{
	width:600px;
	height:auto;
	margin-bottom:50px;
	float:left;
}

.post_block a, a:visited {
	color: #333;
	text-decoration:none;
}

.post_block a:hover {
	color:#ffcc00;
	text-decoration:none;
}

.post_details	{
	width:600px;
	height:30px;
	border-top:1px solid #d6d4d4;
	border-bottom:1px solid #d6d4d4;
	float:left;
}

.readbutton	{
	width:80px;
	height:30px;
	float:right;
	padding-top:6px;
}

.breadcrumb	{
	width:auto;
	height:30px;
	line-height:30px;
	float:left;
}

.breadcrumb a, .breadcrumb a:visited {
	color:#761006;
	font-size:12px;
	text-decoration:none;
}
	
.breadcrumb a:hover	{
	color:#cc3300;
}	
	
.list	{
	width:223px;
	height:auto;
	float:left;
	padding-left:64px;
	background:url(img/separator_vertline.png)no-repeat;
	background-position: left;	
}
.list .listitem	{
	width: 203px;
	height: 30px;
	float: left;
	line-height: 30px;
	margin-top: -10px;
	padding-left: 20px;
	border-bottom: 1px solid #d6d4d4;
	background-image: url(img/bullet_slide_a.png);
	background-repeat: no-repeat;
	background-position: left;
}

/*
============================
PAGE: CONTACT
============================
*/

#contact-form	{
	margin: 50px;
}
#contact-form input {
	border: 1px solid #999;
	color: #999;
	padding: 4px;
	margin-bottom: 6px;
	background: url(img/bgr_input.jpg);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;  
}
#contact-form textarea {
	border: 1px solid #999;
	color: #999;
	padding: 4px;
	margin-bottom: 6px;
	background-image: url(img/bgr_txtarea.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px; 
}

#contact-form .submit	{
	background: #000;
	color: #fff;
}

.error {color:red;}

/*
============================
FOOTER SECTION
============================
*/

#FooterWrapper	{
	width:100%;
	height: 353px;
	color:#fff;
	background-image:url(img/bgr_footer.jpg);
	background-repeat:repeat-x;
	background-color:#212121;
}

#inner_div	{
	width:960px;
	height:auto;
	margin:0px auto;
}

#inner_div h3 {
	color:#fff;
	margin-bottom:25px;
}

.footerblock	{
	width:260px;
	height:auto;
	padding:15px 0px 15px 60px;
	margin-top:87px;
	float:left;
}
.newsdate	{
	color:#999;
	text-decoration:underline;
	font-weight:bold;
}		
.linkitems ul li	{
	height:31px;
	line-height:31px;
	margin-left: -40px;
	background-image:url(img/list_style_footer.jpg);
	background-repeat:no-repeat;
	text-indent:29px;
	border-bottom:1px dotted #666;
	list-style-type:none;
}

.linkitems ul li a {
	color:#fff;
}
.linkitems ul li a:hover {
	color:#cc3300;
}

/*-- Copyrights & Bottom Links --*/

#FooterBlackWrapper	{
	width:100%;
	height:50px;
	background-color:#000;
}

#inner_div_black	{
	width:960px;
	height:auto;
	margin:0px auto;
	color:#fff;
	font-size:10px;
}

.copyright	{
	width:350px;
	height:auto;
	line-height:45px;
	float:left;
	color:#999;
}
.bottomnav	{
	width:500px;
	height:auto;
	float:right;
}
.bottomnav ul {
	list-style-type:none;
	margin: 0px;
}
.bottomnav li	{
	float: right;
}
.bottomnav a {
	display:block;
	width:70px;
	height:45px;
	line-height:45px;
	color:#999;
	text-decoration:none;
	text-align:center;
}
.bottomnav a:hover {
	color: #cc3300;
	text-decoration: none;
}
/*-- Social Icons -- */	
.SocialWrapper	{
	width:261px;
	height:60px;
	margin-left: -40px;
	background-image:url(img/shadow_socialicons.png);
	background-repeat:no-repeat;
	background-position:bottom;
}
.SocialWrapper ul li	{
	list-style-type:none;
	display:block;
	width:32px;
	height:32px;
	margin-right:10px;
	float:left;
}