/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#761006;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	height: 80px;
	line-height: 50px;
	z-index:89;
}
.nivo-caption p {
	padding: 15px;
	margin:0;
	font-size: 26px;
	text-align: center;
	font-family: "Book Antiqua","Tenor Sans", Palatino, serif;;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
	text-indent:-99999px
}
.nivo-prevNav {
	background:url(img/slide_arrow_left.png)no-repeat;
	left:10px;
}
.nivo-nextNav {
	background:url(img/slide_arrow_rite.png)no-repeat;
	right:10px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	display:block;
	width:14px;
	height:11px;
	float:left;
	margin-top:358px;
	background:url(img/bullet_slide_a.png)no-repeat;
	position:relative;
	z-index:99;
	cursor:pointer;
	text-indent:-99999px;
}
.nivo-controlNav a.active {
	background:url(img/bullet_slide_active.png)no-repeat;
	font-weight:bold;
}