@charset "utf-8";
/*
============================
GLOBAL SETTINGS
============================
*/
html, body	{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	line-height:20px;
	background-color:#e9e5e5;
 	background-image:url(img/bgr_body_mblue.jpg);
	background-repeat:repeat-x;
}

#container {
	width:960px;
	height:1328px;
	margin:0px auto;
}

.clearer {
	clear:both;
}

img	{
	border:0px;
}

h1 {
	font-size:22px;
	display:inline;
}

h2 {
	font-size:18px;
	color: #333;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
	margin:0px;
}

a	{
	color:#761006;
	text-decoration: none;
}

a:hover	{
	color:#cc3300;
	text-decoration: none;
}

/*
============================
HEADER  
============================
*/
#HeaderWrapper {
	width:960px;
	height:104px;
	margin:0px;
	padding:0px;
}

#HeaderWrapper .left {
	width:237px;;
	height:104px;
	float:left;
}

#HeaderWrapper .right {
	width:723px;
	height:104px;
	float:right;
}

.logo	{
	width:237px;
	height:80px;
	margin-top:15px;
	float:left;
}
	
.TopMenuWrapper	{
	width:585px;
	height:auto;
	float:right;
	margin-top:15px;
}

.SearchWrapper	{
	width:183px;
	height:25px;
	margin:24px 17px 2px 0px;
	padding:0px;
	background-image:url(img/searchbox.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
}

.SearchWrapper form {
	display:inline;
}

.searchbox {
	border:0px;
	background-color:transparent;
	position:absolute;
	top:2px;
	left:4px;
	width:140px;
	height:20px;
	color: #999;
	font-size:11px;
}

.searchbox_submit {
	border:0px; 
	background-color:transparent; 
	position:absolute; 
	left:148px;
	width:35px;
	height:23px;
}

/*
============================
IMAGE SLIDER   
============================
*/
#SlideWrapper	{
	width:960px;
	height:auto;
	float:left;
	margin-top:30px;
	margin-bottom:30px;
}

.dropshadow	{
	width:960px;
	height:55px;
	background:url(img/shadow_slide.png);
	background-repeat:no-repeat;
	background-position:center;
	top:457px;
	position:absolute;
	float:left;

}

/*
============================
PROMOTIONAL MESSAGES
============================
*/

#IntroWrapper	{
	width:940px;
	height:130px;
	padding-left:20px;
	margin-top:10px;
	float:left;
}
.promo_text	{
	display:block;
	width:709px;
	height:100px;
	margin: 10px 10px 0 0;
	float:left;
}
.button_learn	{
	width:211px;
	height:80px;
	float:left;
	margin-top:26px;
}


/*
============================
CONTENT SMALL BOXES
============================
*/
#SmallBoxesWrapper	{
	width:960px;
	height:auto;
	float:left;	
}

.box_1_2	{
	width:269px;
	height:356px; /*--adjust this height size according to number of text --*/ 
	padding:10px 20px;
	float:left;
	border:1px solid #d3cfcf;
	background:#fff;
	margin-right:13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.box_3	{
	width:270px;
	height:356px; /*--(the size must be the same as the box 1 and 2--*/
	padding: 10px 20px;
	float:left;
	border:1px solid #d3cfcf;
	background:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#BoxShadowWrapper	{
	width:960px;
	height:auto;
	float:left;
}
#BoxShadowWrapper .boxshadow_1_2	{
	width:282px;
	height:38px;
	float:left;
	margin:0 20px;
	background:url(img/shadow_small_box.png)no-repeat;
	top:-27px;
	position:relative;
	z-index:-2;
}
#BoxShadowWrapper .boxshadow_3	{
	width:282px;
	height:38px;
	float:left;
	margin:0 10px;
	background:url(img/shadow_small_box.png)no-repeat;
	top:-27px;
	position:relative;
	z-index:-3;
}

/*
============================
CONTENT WIDE BOX
============================
*/

#widebox_area	{
	width:910px;
	height:295px;
	float:left;
	padding:20px 25px;
	border:solid #d3cfcf 1px;
	background:#ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#widebox_area .left_section	{
	width:600px;
	height:auto;
	float:left;
}
#widebox_area .right_section	{
	width:223px;
	height:auto;
	float:left;
	padding-left:67px;
	background:url(img/separator_vertline.png)no-repeat;
	background-position:left;
	font-family: "Myriad Pro";
}	

.right_section .text_title	{
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	color:#242424;
}

.right_section .testi_text	{
	width: 223px;
	height: 223px;
	font-size:18px;
	font-style:italic;
	line-height: +1.5;
}
		
.left_section .choose_area	{
	display:block;
	width:200px;
	height:80px;
	padding-top: 30px;
	line-height:80px;
	float:left
}

.shadow_widebox	{
	width:798px;
	height:90px;
	float:left;
	margin:0px 60px;
	background:url(img/shadow_widebox.png)no-repeat;
	top:-58px;
	position:relative;
	z-index:-4;

}

/*
============================
FOOTER SECTION
============================
*/

#FooterWrapper	{
	width:100%;
	height: 353px;
	color:#fff;
	background-image:url(img/bgr_footer.jpg);
	background-repeat:repeat-x;
	background-color:#212121;
}

#inner_div	{
	width:960px;
	height:auto;
	margin:0px auto;
}

#inner_div h3 {
	color:#fff;
	margin-bottom:25px;
}

.footerblock	{
	width:260px;
	height:auto;
	padding:15px 0px 15px 60px;
	margin-top:87px;
	float:left;
}
.newsdate	{
	color:#999;
	text-decoration:underline;
	font-weight:bold;
}		
.linkitems ul li	{
	height:31px;
	line-height:31px;
	margin-left: -40px;
	background-image:url(img/list_style_footer.jpg);
	background-repeat:no-repeat;
	text-indent:29px;
	border-bottom:1px dotted #666;
	list-style-type:none;
}

.linkitems ul li a {
	color:#fff;
}
.linkitems ul li a:hover {
	color:#cc3300;
}

/*-- Copyrights & Bottom Links --*/

#copyrightWrapper	{
	width:100%;
	height:50px;
	background-color:#000;
}

#inner_div_black	{
	width:960px;
	height:auto;
	margin:0px auto;
	color:#fff;
	font-size:10px;
}

.copyright	{
	width:350px;
	height:auto;
	line-height:45px;
	float:left;
	color:#999;
}
.bottomnav	{
	width:500px;
	height:auto;
	float:right;
}
.bottomnav ul {
	list-style-type:none;
	margin: 0px;
}
.bottomnav li	{
	float: right;
}
.bottomnav a {
	display:block;
	width:70px;
	height:45px;
	line-height:45px;
	color:#999;
	text-decoration:none;
	text-align:center;
}
.bottomnav a:hover {
	color: #cc3300;
	text-decoration: none;
}
/*-- Social Icons -- */	
.SocialWrapper	{
	width:261px;
	height:60px;
	margin-left: -40px;
	background-image:url(img/shadow_socialicons.png);
	background-repeat:no-repeat;
	background-position:bottom;
}
.SocialWrapper ul li	{
	list-style-type:none;
	display:block;
	width:32px;
	height:32px;
	margin-right:10px;
	float:left;
}